/* stili header */
header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #2c3e50;
}

.ms_container{
    width: 95%;
    padding: 10px;
    margin: 0 auto;
     /* debug */
     min-height: 200px;
}

/* stili main */
main{
    padding-top: 100px;
}

#ms_jumbotron, #ms_about{
    background-color: #1abc9c;
    padding-top: 10px;
    /* debug */
    min-height: 500px;
}

.img-container{
    overflow: hidden;
    border-radius: 50%;
}

.img-container img{
    width: 100%;
}

#ms_portfolio{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.row{
    --bs-gutter-x: 0;
}

.card{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    /* debug */
    background-color: black;
    min-height: 200px;
}

[class*="col-"]{
    margin: 20px 0;
}

.title{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.portfolio, .contact{
    color: #2c3e50;
}

.about{
    color: white;
}

/* stili footer */
#footer-top{
    background-color: #3a546d;
}

#footer-top .row{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

#footer-bottom{
    background-color: #2c3e50;
    height: 100px;
    /* debug */
}