/* stili header */
header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #2c3e50;
}

.ms_container{
    width: 95%;
    margin: 0 auto;
}

.ms_navbar{
    margin: 20px 0;
    background-color: #2c3e50 !important;
}

.ms_logo{
    color: white;
    font-weight: bold;
}

.ms_logo:hover{
    color: white;
}

.ms_page-section{
    color: white;
}

.ms_page-section:hover{
    color: white;
}

.ms_hamb-menu{
    border: 1px solid white;
}


/* stili main */
main{
    padding-top: 100px;
}

/* jumbotron */
#ms_jumbotron, #ms_about{
    background-color: #1abc9c;
    padding-top: 20px;
    padding-bottom: 30px;
    /* debug */
    /* min-height: 500px; */
}

.img-container.jumbo{
    width: 300px;
}

h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.star.jumbo{
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.star-decoration{
    height: 4px;
    width: 100px;
    display: inline-block;
    margin: 10px 0;
}

.star-decoration.jumbo{
    background-color: white;
}

.fa-star{
    font-size: 30px;
}

.application{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

/* portfolio */
.star.portfolio{
    color: #2c3e50;
    text-align: center;
    padding-bottom: 20px;
}

.star-decoration.portfolio{
    background-color: #2c3e50;
}

.img-container{
    overflow: hidden;
    border-radius: 50%;
}

.img-container img{
    width: 100%;
}

.ms_container-large{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.ms_card{
    margin: 0 auto;
    border-radius: 10px;
}

.house{
    background-color: #ba4b63;
}

.cake{
    background-color: #1ea4b6;
}

.circus{
    background-color: black;
}

.videogame{
    background-color: #1c83c1;
}

.lockbox{
    background-color: #0e38b5;
}

.submarine{
    background-color: #ccb2a3;
}

.title{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.portfolio, .contact{
    color: #2c3e50;
}

/* about */
.about{
    color: white;
}

.ms_card p{
    color: white;
    font-size: 16px;
}

.fa-download{
    color: white;
    padding-right: 3px;
}

.button-container{
    text-align: center;
    margin-top: 30px;
}

.button{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* contact */


/* stili footer */
#footer-top{
    background-color: #3a546d;
}

.ms_container.footer{
    width: 100%;
    margin: 0 auto;
    padding: 50px 10px;
}

h3{
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
}

.footer-descr{
    color: white;
    text-align: center;
}

#bootstrap-link{
    color: #1abc9c;
    text-decoration: none;
}

#bootstrap-link:hover{
    text-decoration: underline;
}

.social-container{
    text-align: center;
}

.social-container a{
    color: white;
}

.social{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    margin: 0 5px;
    font-size: 20px;
}

#footer-bottom{
    background-color: #2c3e50;
    height: 100px;
}